<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark primary-color-dark scrolling-navbar" >

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">DEC</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sesiones">Sesiones</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="/panelAdmin" class="nav-link waves-effect waves-light" id="navbarDropdownMenuLink" aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-gear"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"><i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item " href="/login">Iniciar sesión</a>
                    <a class="dropdown-item " href="/signup">Registrarse</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->