<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../head %>
  </head>

  <body>
      <header>
          <% include ../header %>
      </header>

      <!-- Start your project here-->
      <div style="height: 100vh">
          <h1>Bienvenidos</h1>
          <div class="flex-center flex-column">
              <h1 class="animated fadeIn mb-4">DecProject</h1>
          </div>
      </div>
      <!-- /Start your project here-->
  
  </body>

  <footer>
      <% include ../footer %>
  </footer>
</html>