<!DOCTYPE html>
<html lang="en" ng-app="sesionApp">
<head>
    <% include ../head %>
    <script src="/js/sesionCtrl.js"></script>
</head>

<body ng-controller="sesionCtrl">
<header>
    <% include ../header %>
</header>
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col text-center">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="container">
        <!--Panel-->
        <div class="card text-center" style="width: 22rem;">
            <div class="card-header primary-color white-text">
                Crear Sesión
            </div>
            <div class="card-body">
                <form>
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" ng-model="formData.titulo">
                        <label for="form1" class="">Titulo</label>
                    </div>
                    <div class="md-form">
                        <textarea id="textarea-char-counter" class="md-textarea" length="250" ng-model="formData.escenario"></textarea>
                        <label for="textarea-char-counter">Escenario</label>
                    </div>
                    <div class="md-form">
                        <textarea id="textarea-char-resultado" class="md-textarea" length="250" ng-model="formData.descripcion"></textarea>
                        <label for="textarea-char-resultado">Descripción</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="form2" class="form-control" ng-model="formData.miembros">
                        <label for="form2" class="">Miembros</label>
                    </div>
                    <button class="btn btn-default" ng-click="crearSesion()">Crear</button>
                </form>
            </div>
        </div>
        <!--/.Panel-->
    </div>
    </div>
    <div class="col-8">
        <div class="container">
            <!--Table-->
            <table class="table">

                <!--Table head-->
                <thead class="default-color">
                <tr class="text-white">
                    <th> Titulo </th>
                    <th> escenario </th>
                    <th> descripcion </th>
                    <th> miembros </th>
                    <th> </th>
                </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                <tr ng-repeat="sesion in sesions">
                    <td>{{sesion.titulo}}</td>
                    <td>{{sesion.escenario}}</td>
                    <td>{{sesion.descripcion}}</td>
                    <td>{{sesion.miembros}}</td>
                    <td><a href="/salas/{{sesion.id}}" class="btn btn-indigo">Entrar</a></td>
                </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>
</div>


</body>

<footer>
    <% include ../footer %>
</footer>
</html>