<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../head %>
  </head>

<body>
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col text-center">
        </div>
    </div>
</div>
  <!-- Start your project here-->
  <div style="height: 100vh">
      <div class="row ">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="container">
                  <!--Form without header-->
                  <div class="card">
                      <div class="card-body">

                          <!--Header-->
                          <div class="text-center pink-text">
                              <h3><i class="fa fa-pencil pink-text"></i> Registrarse</h3>
                              <hr class="mt-2 mb-2">
                          </div>

                          <!--Body-->
                          <!-- show any messages that come back with authentication -->
                          <% if (message.length > 0) { %>
                          <div class="alert alert-danger"><%= message %></div>
                          <% } %>
                          <br>

                          <form action="/signup" method="post">
                          <!--Body-->
                              <div class="md-form">
                                  <i class="fa fa-user prefix grey-text"></i>
                                  <input type="text" id="pinkForm-name" class="form-control" name="user">
                                  <label for="pinkForm-name">Nombre usuario</label>
                              </div>

                              <div class="md-form">
                                  <i class="fa fa-envelope prefix grey-text"></i>
                                  <input type="text" id="pinkForm-email" class="form-control" name="email">
                                  <label for="pinkForm-email">Correo</label>
                              </div>

                              <div class="md-form">
                                  <i class="fa fa-lock prefix grey-text"></i>
                                  <input type="password" id="cyanForm-pass" class="form-control" name="password">
                                  <label for="cyanForm-pass">Contraseña</label>
                              </div>

                              <div class="text-center">
                                  <button class="btn btn-pink">Registrar</button>
                              </div>
                          </form>
                          <div class="modal-footer">
                              <div class="options">
                                  <p>¿Ya tienes una cuenta? <a href="/login">Iniciar Sesion.</a></p>
                                  <p>ir a <a href="/">Inicio</a>.</p>
                              </div>
                          </div>

                      </div>
                  </div>
                  <!--/Form without header-->
              </div>

          </div>
          <div class="col-md-3"></div>
      </div>
  </div>
  <!-- /Start your project here-->

</body>

<footer>
  <% include ../footer %>
</footer>
</html>